body {
  background-image: url(assets/digital-clock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(1px);
  width: 100vw;
  padding: 10px 0px;
}

.clock {
  color: white;
  font-weight: bold;
  font-size: 6em;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0 0%, 0%, 0.75);
  text-align: center;
}
